<a href="https://colab.research.google.com/github/MohammedBelfellah/python_for_GIS/blob/main/TP_2_Les_Listes_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TP 2 : Les Listes**

*Mohammed belfellah*

In [ ]:
# 1. Taper les lignes suivantes dans l’environnement IDLE et commentez les résultats obtenus
# Accès aux éléments d’une liste

s = [1, 2, 3, 8, 5, 4, 9, 0]

# s[0]     donne le 1er élément de la liste (1)
# s[1:]    donne les éléments du 2e jusqu’au dernier [2, 3, 8, 5, 4, 9, 0]
# s[:2]    donne les deux premiers éléments [1, 2]
# s[1:3]   donne les éléments d’indice 1 à 2 (le 2e et le 3e) → [2, 3]
# s[:]     donne toute la liste complète [1, 2, 3, 8, 5, 4, 9, 0]

In [65]:
# Opérations sur les listes
s = ['lundi', 'mardi', 'mercredi', 'jeudi']

In [66]:
len(s)
# - donne le nombre d’éléments dans la liste (ici 4)

4

In [67]:
s + ['jeudi', 'vendredi']
# - crée une nouvelle liste avec les deux mots ajoutés à la fin
# - ne change pas s directement

['lundi', 'mardi', 'mercredi', 'jeudi', 'jeudi', 'vendredi']

In [68]:
del s[2]
# - supprime l’élément à la position 2 (ici "mercredi")

In [69]:
s * 2
# - répète la liste deux fois (affiche la liste doublée)

['lundi', 'mardi', 'jeudi', 'lundi', 'mardi', 'jeudi']

In [70]:
s[2] = 'mercredi'
# - remplace l’élément d’indice 2 par "mercredi"

In [71]:
s[0:2] = ['jeudi', 38]
# - remplace les deux premiers éléments par "jeudi" et 38

In [72]:
# Fonctions avancées

s = ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi']

s.append('samedi')
# - ajoute "samedi" à la fin de la liste

In [73]:
s.remove('lundi')
# - supprime la première valeur "lundi" trouvée dans la liste

In [74]:
s.pop()
# - enlève le dernier élément de la liste et return la valuer

'samedi'

In [75]:

s
# - aficharge la liste actuelle

['mardi', 'mercredi', 'jeudi', 'vendredi']

In [ ]:
s.reverse()
# - inverse l’ordre des éléments dans la liste

s.sort()
# - trie la liste dans l’ordre alphabétique (ou croissant pour les nombres)

In [76]:
# Manipulation des listes

maListe = [22, "coucou", 33, "z", 'a', 'b', 111, 99]
# - crée une liste avec des nombres et des mots

In [77]:

maListe
# - affiche la liste complète

[22, 'coucou', 33, 'z', 'a', 'b', 111, 99]

In [78]:

len(maListe)
# - donne le nombre d’éléments dans la liste

8

In [79]:

'z' in maListe
# - vérifie si 'z' est dans la liste (True ou False)

True

In [80]:

maListe[3] = 1024
# - remplace la valeur à la position 3 par 1024

In [81]:

'z' in maListe
# - vérifie encore si 'z' est dans la liste (maintenant False)

False

In [82]:

maListe
# - affiche la liste après le changement

[22, 'coucou', 33, 1024, 'a', 'b', 111, 99]

In [84]:

maListe.append(33)
# - ajoute 33 à la fin de la liste

In [85]:

maListe.append("hello")
# - ajoute "hello" à la fin de la liste

In [86]:

maListe
# - affiche la liste après les ajouts

[22, 'coucou', 33, 1024, 'a', 'b', 111, 99, 33, 33, 'hello']

In [87]:

maListe.remove(33)
# - enlève le premier 33 trouvé dans la liste

In [88]:

33 in maListe
# - vérifie s’il reste encore un 33 dans la liste (True s’il y en a un autre)

True

In [89]:

maListe
# - affiche la liste après suppression

[22, 'coucou', 1024, 'a', 'b', 111, 99, 33, 33, 'hello']

In [90]:

maListe.pop()
# - enlève le dernier élément de la liste + return la valuer

'hello'

# Exercice 1 :
Ecrivez et testez les fonctions de gestion de liste sans utiliser les fonctions prédéfinies de
manipulation des listes à l'exception des fonctions basiques "len", "append" et "del" :

    - Ajouter un élément en-tête de liste
    - Ajouter un élément en fin de liste
    - Maximum des éléments
    - Trier une liste

In [55]:
# Ajouter un élément en-tête de liste
ele = "625 HP"

s =["bmw",324," M5 cs "]

nv_list= [ele]
s = nv_list + s

print(s)

['625 HP', 'bmw', 324, ' M5 cs ']

In [56]:
# Ajouter un élément en fin de liste
s = s + nv_list
print(s)

['625 HP', 'bmw', 324, ' M5 cs ', '625 HP']

In [57]:
# Maximum des éléments
L= [-23,23,4,]
max_ele = L[0]
for i in L:
    if i > max_ele:
        max_ele = i
max_ele

23

In [ ]:
# Trier une liste
L = [5, 9, 1, 7, 3, 2]
sorted_list = []

while L != []:
    max_value = L[0]
    for i in L:
        if i > max_value:
            max_value = i
    sorted_list = [max_value] + sorted_list
    L.remove(max_value)

print("Liste triée :", sorted_list)

In [2]:
# 1. Crée une liste initiale
produits = ["lait", "pain", "huile", "riz"]

# 2 afficharge list de magasin
for produit in produits:
    print(produit)

lait
pain
huile
riz

3. Permets à l’utilisateur :

In [44]:


while True:
  operation = int(input("""Tapez :
  1 : Ajouter
  2 : Supprimer
  3 : Rechercher
  4 : Afficher
  5 : Quitter
  """))
  if operation == 1:
    # d’ajouter un produit
    ajouter = True
    while ajouter:
      nv_roduit = input("Ajouter un nv produit : ")
      if nv_roduit in produits:
        print(" Ce produit existe déjà")
      else:
        produits.append(nv_roduit)
        ajouter = True if input("Voulez-vous ajouter un autre produit (oui / non) : ").lower() == "oui" else False
        print("Produits ajouté avec succès.")
  elif operation == 2:
    # de supprimer un produit
    supp_produit = input("Lequel voulez-vous supprimer ?").lower()
    if supp_produit not in produits:
      print(" Ce produit existe pas")
    else:
      produits.remove(supp_produit)
      print("Produit supprimé avec succès.")
  elif operation == 3:
    # de rechercher un produit
    search_produit = input("Entrez le produit à rechercher : ").lower()
    if search_produit in produits:
      print(f"Le produit '{search_produit}' existe à l’index {produits.index(search_produit)}.")
    else:
      print("Le produit n’existe pas.")
  elif operation == 4:
    # d’afficher la liste triée
    produits.sort()
    print("Liste des produits triée :", produits)
  elif operation == 5:
    print("Merci pour votre visite.")
    break
  else :
    print("Choix invalide, veuillez réessayer.")

Tapez :
  1 : Ajouter
  2 : Supprimer
  3 : Rechercher
  4 : Afficher
  5 : Quitter
  5
Merci pour votre visite.

**Exercice 3:**

Manipuler des listes Python pour représenter et analyser des points géographiques (latitude,longitude) d’une zone donnée.Données de départ:


---

```
# Liste des villes et leurs coordonnées (latitude, longitude)
villes = [
["Rabat", 34.0209, -6.8416],
["Casablanca", 33.5731, -7.5898],
["Fès", 34.0331, -5.0003],
["Marrakech", 31.6295, -7.9811],
["Tanger", 35.7595, -5.8339]
]
```



1. Afficher la liste complète des villes avec leurs coordonnées.
2. Ajouter une nouvelle ville.

  - L’utilisateur saisit le nom de la ville, sa latitude et sa longitude, puis on l’ajoute à la liste
  - Interdire l’ajout d’une ville déjà existante.
3. Afficher uniquement les villes situées au nord du parallèle 34°N.
(Indice : latitude > 34)
4. Afficher la ville la plus au sud. :(Indice : latitude minimale)
5. Afficher la distance "approximative" entre deux villes choisies par l’utilisateur.
- Utiliser la formule simplifiée de distance plane :
6. Supprimer une ville donnée (saisie par l’utilisateur).
7. Afficher les villes triées selon leur latitude (du sud vers le nord)
- Sans utiliser sort() ni sorted().
10. Afficher le nombre total de villes.
11. Trouver la ville la plus à l’ouest (longitude minimale).
12. Trouver la ville la plus à l’est (longitude maximale).

In [33]:
# Liste des villes et leurs coordonnées (latitude, longitude)
villes = [
["Rabat", 3, 6],
["Casablanca", 33.5731, -7.5898],
["Fès", 34.0331, -5.0003],
["Marrakech", 31.6295, -7.9811],
["Tanger", 35.7595, -5.8339]
]

for vill,lat,lon in villes:
  print(f"vill:{vill} --> lat :{lat},lon:{lon}")

vill:Rabat --> lat :3,lon:6
vill:Casablanca --> lat :33.5731,lon:-7.5898
vill:Fès --> lat :34.0331,lon:-5.0003
vill:Marrakech --> lat :31.6295,lon:-7.9811
vill:Tanger --> lat :35.7595,lon:-5.8339

In [51]:
# Ajouter une nouvelle ville.
# L’utilisateur saisit le nom de la ville, sa latitude et sa longitude, puis on l’ajoute à la liste
# Interdire l’ajout d’une ville déjà existante.

nv_vill_nom = str(input("Donne le nom de la vill: "))
nv_vill_lat = float(input("donne la latitude de la vill: "))
nv_vill_lon = float(input("donne la longitude de la vill: "))

vill_exist = False

# check if the cill exist
for vill in villes:

  nom,lat,lon = vill #["rabat",2323,23232]

  if vill[0].lower() == nv_vill_nom.lower() or ( lat == nv_vill_lat and lon == nv_vill_lon):
    vill_exist = True
    print("cette ville est deje exist dans la list ")
    break


if not vill_exist:
    villes.append([nv_vill_nom, nv_vill_lat, nv_vill_lon])
    print(f"La ville {nv_vill_nom} a été ajoutée avec succès ")
    print(villes)

Donne le nom de la vill: beni mellal
donne la latitude de la vill: 32.3325
donne la longitude de la vill: 6.3627
La ville beni mellal a été ajoutée avec succès
[['Rabat', 3, 6], ['Marrakech', 31.6295, -7.9811], ['Casablanca', 33.5731, -7.5898], ['Fès', 34.0331, -5.0003], ['Tanger', 35.7595, -5.8339], ['beni mella', 121221.0, 121212.0], ['beni mellal', 32.3325, 6.3627]]

In [34]:
# Afficher uniquement les villes situées au nord du parallèle 34°N. (Indice : latitude > 34)

for vill in villes:
  if vill[1]>=34:
    print(vill[0])

Fès
Tanger

In [35]:
# Afficher la ville la plus au sud. :(Indice : latitude minimale)
min_lat = villes[0][1]
vill_sud = villes[0][0]
for nom,lat,lon in villes:
  if float(lat) <= min_lat:
    min_lat = lat
    vill_sud = nom
print("ville sud est :",vill_sud)

ville sud est : Rabat

In [53]:
# Afficher la distance "approximative" entre deux villes choisies par l’utilisateur.
# Utiliser la formule simplifiée de distance plane :

import math
vill_A = input("Entrez le nom de la ville A : ").strip().lower()
vill_B = input("Entrez le nom de la ville B : ").strip().lower()

vill_A_lat = vill_A_lon = vill_B_lat = vill_B_lon = None

# Vérifier si la ville A est dans la liste
for vill in villes:
  if vill[0].lower() == vill_A:
    vill_A_lat = vill[1]
    vill_A_lon = vill[2]
    break

# Vérifier si la ville B est dans la liste
for vill in villes:
  if vill[0].lower() == vill_B:
    vill_B_lat = vill[1]
    vill_B_lon = vill[2]
    break

if vill_A_lat is not None and vill_B_lat is not None:
  Distance = math.sqrt((vill_A_lat - vill_B_lat) ** 2 + (vill_A_lon - vill_B_lon) ** 2)
  print(f"La distance approximative entre {vill_A} et {vill_B} est : {Distance}")
else:
  print("Une ou les deux villes n'existent pas dans la liste")

Entrez le nom de la ville A : beni mellal
Entrez le nom de la ville B : Tanger
La distance approximative entre beni mellal et tanger est : 12.668913945559817

In [54]:
# Supprimer une ville donnée (saisie par l’utilisateur)
# [ [   ] [    ] ]
vill_supp = input("Entrez la ville a supprimer: ").lower()
# check if the vill is in the list
vill_exist = False
for vill in villes:
  if vill[0].lower() == vill_supp:
    villes.remove(vill) # we reomve all the sublist
    print("supprimer avec success")
    vill_exist = True
    break
if not vill_exist:
  print("la ville n'exist pas ")

Entrez la ville a supprimer: beni mella
supprimer avec success

In [40]:
# Afficher les villes triées selon leur latitude (du sud vers le nord)

for i in range(len(villes)):
  for j in range(len(villes)-i-1):
      if villes[j][1] > villes[j+1][1]:
          villes[j], villes[j+1]=  villes[j+1],villes[j]
villes

[['Rabat', 3, 6],
 ['Marrakech', 31.6295, -7.9811],
 ['Casablanca', 33.5731, -7.5898],
 ['Fès', 34.0331, -5.0003],
 ['Tanger', 35.7595, -5.8339]]

In [31]:
# Afficher le nombre total de villes.
total_villes = 0
for vill in villes:
  total_villes +=1
total_villes

la ville la plus à l’ouest  ['Marrakech', 31.6295, -7.9811]

In [42]:
# 11. Trouver la ville la plus à l’ouest (longitude minimale).
vill_plus_ouest = villes[0]

for vill in villes:
  if vill[2] < vill_plus_ouest[2]:
    vill_plus_ouest = vill

print("la ville la plus à l’ouest :",vill_plus_ouest)

la ville la plus à l’ouest : ['Marrakech', 31.6295, -7.9811]

In [43]:
# 12. Trouver la ville la plus à l’est (longitude maximale).

vill_plus_est = villes[0]

for vill in villes:
  if vill[2] > vill_plus_est[2]:
    vill_plus_est = vill[2]
print("la ville la plus à l’est :",vill_plus_est)

la ville la plus à l’est : ['Rabat', 3, 6]